/* Name: Maura Sweeney 
Class: CPSC 332
Assignment: HW4
Last Modified: 10/04/24
I've attempted the extra credit */

header, footer{
    color: rgb(125, 25, 25);
    font-family: Georgia;
    background-color: whitesmoke;
}

/* applying flex box and styling to candy boxes */
.collection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;
}

.candy {
    border: 2px solid black;
    width: 200px;
    height: 200px;
    padding: 20px;
    margin: 10px; 
    text-align: center;
    background-color: rgb(100, 75, 100, .5);
}

.candy p {
    font-family: Helvetica;
    font-size: 16px;
    padding: 20px;
}

.candy img {
    height: 75px;
    width: 150px;
}

body {
    background-image: url('background.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* hover elements */

.candy:hover {
    background-color: rgb(255, 255, 255, .5);
    color: rgb(150, 25, 25);
    border-color: rgb(100, 75, 100, .5);
    transform: scale(1.05); 
}

.candy img:hover{
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}